.box {
  text-align: left;
  margin: 0 auto;
  position: relative;
  white-space: initial;
  background-color: #f9f9f9;
}
.box a {
  width: 120px;
  vertical-align: top;
  text-align: center;
  float: none;
}

.box-container {
  display: flex;
  justify-content: space-around;
  height: 180px;
}

.box i{
  margin-right: .35em;
  margin-bottom: .5em;
  font-size: 1.55em;
  display: block;
  font-style: normal;
}

.box-item {
  height: 80px;
}
.box-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}
 
.box-links {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  font-weight: 800;
  color: #0f1115;
}

.box-links:hover {
  opacity: 70%;
}
  
