:root {
    --primary: #fff;
}

.btn{
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 2px 4px 0 rgb(0 0 0/7%),0 1px 1.5px 0 rgb(0 0 0/5%);
}
.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size:  16px;
    font-weight: 600;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--mobile {
    text-align: center;
    border-radius: 5px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn--wide {
    width: 100%;
    font-size: 16px;
}

.btn--large:hover, .btn--medium:hover, .btn--mobile:hover{
    transition: all 0.3s ease-out;
    background: #fff;
    color: #0f1115;
    border: 2px solid #0f1115;
}

.btn--wide:hover {
    color: #0f1115;
    background-color: #fff;
    transition: all 0.2s ease-out;
}

.blue {
    background-color: #276afb;
    color: #fff;
    border: 2px solid #276afb;
}

.red {
    background-color: #f00946;
    color: #fff;
    border: 2px solid #f00946;
}

.green {
    background-color: #25ce4a;
    color: #fff;
    border: 2px solid #25ce4a;
}

.black {
    background-color: #0f1115;
    color: #fff;
    border: 2px solid #0f1115;
}

.primary {
    background-color: #242424;
    color: #fff;
    border: none;
}
.primary:hover {
    background-color: #fff;
    color: #242424;
    border: 2px solid;
}

.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}
.btn-banner{
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 7px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5em;
    border-radius: 6px;
    display: inline-block;
}