.page {
    text-align: left;
    margin: 0 auto;
    position: relative;
    white-space: initial;
    background-color: #f9f9f9;
  }

.page-container {
    display: block;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}
    
.banner p{
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
}

.banner {
    display: block;
    position: relative;
    padding: .75em;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    font-weight: 800;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #dddddd,0 2px 4px 0 rgb(0 0 0/7%),0 1px 1.5px 0 rgb(0 0 0/5%)
}
    
.banner:hover {
    background-color: #f1f1f1;
}
    
.page-links {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    font-weight: 800;
    color: #0f1115;
}
.featured-clients{
    margin-bottom: 14px;
    margin-top: -14px;
    display: table;
    width: 100%;
    text-align: center;
}
.featured-clients img{
    max-height: 30px;
    object-fit: contain;
    margin: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    filter: saturate(0%) brightness(61%) contrast(380%) contrast(50%) brightness(208%);
    vertical-align: middle;
}
.featured-clients img:hover{
    opacity: 50%;
}

.featured-clients p{
    font-size: 10px;
    font-weight: normal;
    opacity: 0.5;
    margin: 0;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
}
    
  