.projects {
  margin: 0 auto;
  background-color: #f9f9f9;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 1100px;
  margin: .5em auto;
  margin-bottom: 3em;
}
.projects table{
  border-collapse: separate;
}

.projects tr{
  cursor: pointer;
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
  border: none;
}
.projects td{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: .75em;
  padding-bottom: 21px;
  padding-top: 21px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}

.projects img{
  padding-right: .5em;
  max-width: 4em;
  border: none;
  text-align: center;
}

.company_and_position {
  display: table-cell;
}
.company {
  height: 4em;
  height: 5em;
  padding: 0;
  padding-left: 0;
}
td.company h3 {
  margin: 0;
  display: inline;
  vertical-align: middle;
  font-weight: 400;
}
.tags {
  min-width: 10em;
  max-width: 16em;
  padding: 0;
  margin: 0;
  padding-left: .5em;
  color: #0f1115;
}
.tag {
  font-size: 12px;
  border: 2px solid #0f1115;
  color: #0f1115;
  border-radius: 6px;
  display: table;
  padding: .33em;
  margin: .2em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
}



@media screen and (max-width: 960px) {}